/*╔═════════════════════════════════════════════════════╗
   🖥️ ==> MENTIONS PAGE                                
  ╚═════════════════════════════════════════════════════╝ */
@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.mentions {
  width: 100%;
  max-width: 1240px;
  margin: 30px auto 0;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: text-align 300ms ease-out;

  h3 {
    color: $primary_color;
    font-size: 2em;
    font-weight: 600;
    transition: font-size 300ms ease-out;
    @media screen and (max-width: 768px) {
      font-size: 1.65em;
    }
  }
  p {
    color: $secondary100_color;
    font-size: 1.25em;
    font-weight: 400;
    max-width: 1024px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      font-size: 1.1em;
    }
  }
}

// /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//  ===> 🖥️ MEDIA QUERY : Max-width 1600px
//  * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
// @media screen and (max-width: 1600px) {
//   .mentions {
//     max-width: 64.583vw;
//     margin: 0.52vw auto 0;
//     padding: 1.041vw;
//     gap: 1.041vw;

//     h3 {
//       font-size: 1.666vw;
//     }
//     p {
//       font-size: 1.041vw;
//       max-width: 53.333vw;
//     }
//   }
// }
