/*╔═════════════════════════════════════════════════════╗
   🖥️ ==> ONE PROJECT PAGE                              
  ╚═════════════════════════════════════════════════════╝ */
@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.one_project_section {
  padding: 50px 20px;

  h1,
  h2 {
    color: $secondary100_color;
    width: 100%;
    max-width: 1240px;
    font-weight: 500;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
  }
  h1 {
    margin: 0 auto;
    font-size: 2.5em;
    transition: font-size 300ms ease-out;
    @media screen and (max-width: 768px) {
      font-size: 2.2em;
    }
  }
  h2 {
    margin: 50px auto 30px;
    font-size: 2em;
    @media screen and (max-width: 768px) {
      font-size: 1.8em;
    }
  }

  &_tags {
    margin: 20px auto 50px;
    padding: 0px 25px;
    animation: delayCaroussel 1000ms ease;
    background-color: transparent;
  }
  .scroll_button {
    width: 100%;
    max-width: 70px;
    height: 70px;
    background-color: $primary_color;
    border: 2px solid $fourth_color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto 0;
    transition: background-color 400ms ease-out;
    &:hover {
      background-color: $github_color;
    }

    &_icon {
      color: $secondary100_color;
      font-size: 32px;
      flex-shrink: 0;
      animation: textIcon 1.5s ease-in-out infinite;

      @keyframes textIcon {
        0% {
          transform: translateY(-4px);
        }
        50% {
          transform: translateY(4px);
        }
        100% {
          transform: translateY(-4px);
        }
      }
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 1300px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1300px) {
  .one_project_section {
    padding: 3.846vw 1.538vw;

    h1,
    h2 {
      max-width: 95.384vw;
    }
    h1 {
      font-size: 3.077vw;
    }
    h2 {
      margin: 3.846vw auto 2.307vw;
      font-size: 2.461vw;
    }

    &_tags {
      margin: 1.538vw auto 3.846vw;
      padding: 0px 1.923vw;
    }
    .scroll_button {
      max-width: 5.384vw;
      height: 5.384vw;
      border: 0.154vw solid $fourth_color;
      margin: 4.615vw auto 0;

      &_icon {
        font-size: 2.461vw;
      }
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 1000px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1000px) {
  .one_project_section {
    padding: 38.46px 15.38px;

    h1,
    h2 {
      max-width: 953.84px;
    }
    h1 {
      font-size: 30.77px;
    }
    h2 {
      margin: 60px auto 35px;
      font-size: 24.61px;
      transition: margin 350ms ease-out;
    }

    &_tags {
      margin: 15.38px auto 38.46px;
      padding: 0px 19.23px;
    }
    .scroll_button {
      max-width: 53.84px;
      height: 53.84px;
      border: 1.54px solid $fourth_color;
      margin: 46.15px auto 0;

      &_icon {
        font-size: 24.61px;
      }
    }
  }
}
