/*╔═════════════════════════════════════════════════════╗
   🖥️ ==> CAROUSSEL                              
  ╚═════════════════════════════════════════════════════╝ */
@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.caroussel {
  @include shadow_card;
  width: 100%;
  max-width: 1240px;
  height: 650px;
  margin: 50px auto 0px;
  position: relative;
  border-radius: 25px;
  transition: height 300ms ease-out;
  animation: delayCaroussel 1000ms ease;

  &::after {
    content: "";
    @include shadow_button;
    position: absolute;
    bottom: 0;
    max-width: 1240px;
    height: 55px;
    left: 0;
    right: 0;
    background-color: #000000;
    border-radius: 0 0 25px 25px;
    z-index: 2;
    opacity: 0.95;
  }
  @keyframes delayCaroussel {
    0% {
      opacity: 0;
      width: 0;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  &_img {
    width: 100%;
    max-width: 1240px;
    height: 650px;
    object-fit: cover;
    border-radius: 25px;
    z-index: 1;
    transition: height 300ms ease-out;
  }
  .arrow {
    @include shadow_button;
    color: $secondary100_color;
    background-color: $primary_color;
    border: 2px solid $fourth_color;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    font-size: 60px;
    cursor: pointer;
    transition: font-size 300ms ease-out;
  }
  .arrowLeft {
    left: 20px;
  }
  .arrowRight {
    right: 20px;
  }
  .slide_indicator {
    @include shadow_button;
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    color: $secondary100_color;
    background-color: $primary_color;
    font-size: 1.1em;
    font-weight: 600;
    padding: 7px 22px;
    border: 2px solid $fourth_color;
    border-radius: 25px;
    opacity: 0.95;
    z-index: 3;
    transition: bottom 300ms ease-out;
  }
  .slide_dots {
    position: absolute;
    bottom: 1.3%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    z-index: 3;

    .slide_dot {
      @include shadow_button;
      cursor: pointer;
      width: 22px;
      height: 22px;
      background-color: $secondary100_color;
      border: 3px solid $fourth_color;
      border-radius: 50%;
      backdrop-filter: blur(10px);
    }

    .active {
      background-color: $primary_color;
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 1300px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1300px) {
  .caroussel {
    max-width: 95.384vw;
    height: 50vw;
    margin: 3.846vw auto 0px;
    border-radius: 1.923vw;
    &::after {
      max-width: 95.384vw;
      height: 4.23vw;
      border-radius: 0 0 1.923vw 1.923vw;
    }

    &_img {
      max-width: 95.384vw;
      height: 50vw;
      border-radius: 1.923vw;
    }
    .arrow {
      border: 0.153vw solid $fourth_color;
      position: absolute;
      padding: 0.538vw;
      font-size: 4.615vw;
    }
    .arrowLeft {
      left: 1.538vw;
    }
    .arrowRight {
      right: 1.538vw;
    }
    .slide_indicator {
      font-size: 1.353vw;
      padding: 0.538vw 1.692vw;
      border: 0.153vw solid $fourth_color;
      border-radius: 1.923vw;
    }
    .slide_dots {
      padding: 0px 1.923vw;
      gap: 1.384vw;

      .slide_dot {
        width: 1.692vw;
        height: 1.692vw;
        border: 0.23vw solid $fourth_color;
      }
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 1000px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1000px) {
  .caroussel {
    max-width: 953.84px;
    height: 500px;
    margin: 38.46px auto 0px;
    border-radius: 19.23px;
    &::after {
      max-width: 953.84px;
      height: 42.3px;
      border-radius: 0 0 19.23px 19.23px;
    }

    &_img {
      max-width: 953.84px;
      height: 500px;
      border-radius: 19.23px;
    }
    .arrow {
      border: 1.53px solid $fourth_color;
      position: absolute;
      padding: 5.38px;
      font-size: 46.15px;
    }
    .arrowLeft {
      left: 15.38px;
    }
    .arrowRight {
      right: 15.38px;
    }
    .slide_indicator {
      font-size: 13.53px;
      padding: 5.38px 16.92px;
      border: 1.53px solid $fourth_color;
      border-radius: 19.23px;
    }
    .slide_dots {
      padding: 0px 19.23px;
      gap: 13.84px;

      .slide_dot {
        width: 16.92px;
        height: 16.92px;
        border: 2.3px solid $fourth_color;
      }
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 500px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 500px) {
  .caroussel {
    .slide_dots {
      gap: 2.768vw;

      .slide_dot {
        width: 3.384vw;
        height: 3.384vw;
        border: 0.46vw solid $fourth_color;
      }
    }
  }
}
