@use "../utils/mixins" as *;
@use "../utils/variables" as *;

header {
  width: 100%;
  height: 100px;

  .navigation {
    background-color: $primary_color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 100px;
    position: fixed;
    opacity: 0.96;
    z-index: 1000;
    @media screen and (max-width: 768px) {
      opacity: 1;
    }
    &_container {
      display: flex;
      align-items: center;
      width: 100%;
      height: inherit;
      flex: 1;

      &_logo {
        @include poppins;
        color: $fourth_color;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.6px;
        font-size: 2em;
        display: flex;
        align-items: center;
        gap: 15px;

        &_img {
          animation: floatingLogo 4s ease-in-out infinite;

          @keyframes floatingLogo {
            0%,
            100% {
              transform: scale(0.95) rotate(0deg);
            }
            25% {
              transform: scale(1.02) rotate(2deg);
            }
            50% {
              transform: scale(0.97) rotate(-2deg);
            }
            75% {
              transform: scale(1) rotate(1deg);
            }
          }
        }
      }

      &_menu {
        display: flex;
        align-items: center;
        gap: 30px;
        transition: all 500ms ease-out;
        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100vh;
          position: absolute;
          top: 100px;
          left: -100%;
          opacity: 0;
          transition: left 500ms ease-out, opacity 500ms ease-out,
            background-color 500ms ease-out;
          gap: 40px;

          &.active {
            background-color: $primary_color;
            left: 0px;
            opacity: 1;
          }
        }

        &_item {
          @include poppins;
          font-size: 1.7em;
          font-weight: 500;
          @media screen and (max-width: 1000px) {
            font-size: 2.72vw;
          }
          @media screen and (max-width: 768px) {
            margin: 0px;
            padding: 10px 0;
            font-size: 1.8em;
          }

          &::after {
            content: "";
            display: block;
            width: 0;
            height: 3px;
            background-color: transparent;
            border-radius: 2px;
            transition: all 500ms ease;
          }
          &:hover::after {
            width: 100%;
            background-color: $secondary100_color;
          }
          &_links {
            text-decoration: none;
            color: $secondary100_color;
          }
        }
      }
    }
  }
  .menu_hamburger_icon {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      cursor: pointer;
      color: $secondary100_color;
    }
  }
}
