/*╔═════════════════════════════════════════════════════╗
   🖥️ ==> PROJECT SECTION LINKS                             
  ╚═════════════════════════════════════════════════════╝ */
@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.one_project_section_link {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  transition: flex-direction 300ms ease-out, gap 300ms ease-out;

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .project_icon {
      color: $fourth_color;
      animation: contactIcon 2s ease-in-out infinite;
      flex-shrink: 0;
      font-size: 28px;
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 1300px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1300px) {
  .one_project_section_link {
    max-width: 95.384vw;
    padding: 3.846vw 1.923vw 0;
    gap: 5.769vw;

    &_button {
      gap: 0.769vw;

      .project_icon {
        font-size: 2.154vw;
      }
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 1000px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1000px) {
  .one_project_section_link {
    max-width: 953.84px;
    padding: 38.46px 19.23px 0;
    gap: 57.69px;

    &_button {
      gap: 7.69px;

      .project_icon {
        font-size: 21.54px;
      }
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 768px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 768px) {
  .one_project_section_link {
    flex-direction: column;
    gap: 5.511vw;

    &_button {
      gap: 1.5vw;

      .project_icon {
        font-size: 20px;
      }
    }
  }
}
