/*╔═════════════════════════════════════════════════════╗
   🖥️ ==> BUTTON                                  
  ╚═════════════════════════════════════════════════════╝ */
@use "../utils/mixins" as *;
@use "../utils/variables" as *;

/* -------------------------------------------------------
   🛠️ Bouton générique 
   ------------------------------------------------------- */
.button {
  @include poppins;
  @include shadow_button;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s ease-out, background-color 0.4s ease,
    color 0.4s ease;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 120%;
    height: 300%;
    background: linear-gradient(
      120deg,
      transparent 30%,
      rgba(255, 255, 255, 0.3),
      transparent 70%
    );
    transform: translateX(-100%) translateY(-50%) rotate(25deg);
    transition: transform 0.7s ease-out;
  }

  &:hover::after {
    transform: translateX(100%) translateY(-50%) rotate(25deg);
  }

  .button-icon {
    width: 50px;
    height: auto;
    animation: wizz 3s ease-in-out infinite;

    @keyframes wizz {
      0%,
      40% {
        transform: rotate(0deg) scale(1);
      }
      45% {
        transform: rotate(-10deg) scale(1.1);
      }
      50% {
        transform: rotate(10deg) scale(1.1);
      }
      55% {
        transform: rotate(-8deg) scale(1.05);
      }
      60% {
        transform: rotate(4deg) scale(1.02);
      }
      65% {
        transform: rotate(0deg) scale(1);
      }
      100% {
        transform: rotate(0deg) scale(1);
      }
    }
  }
}

/* -------------------------------------------------------
   🛠️ accueilButton 
   ------------------------------------------------------- */
.accueilButton {
  gap: 15px;
  border: 2px solid $fourth_color;
  border-radius: 35px;
  font-size: 1.6em;
  padding: 5px 25px;
  color: $secondary100_color;
  background-color: transparent;

  &:hover {
    color: $primary200_color;
    background-color: $secondary100_color;
  }
}

/* -------------------------------------------------------
   🛠️ accueilButton 
   ------------------------------------------------------- */
.websiteButton {
  display: flex;
  align-items: center;
  gap: 15px;
  color: $secondary100_color;
  background-color: $primary_color;
  border: 2px solid $fourth_color;
  border-radius: 35px;
  font-size: 1.6em;
  padding: 5px 25px;
  &:hover {
    color: $primary_color;
    background-color: $secondary100_color;
  }
}

/* -------------------------------------------------------
   🛠️ overlayButton
   ------------------------------------------------------- */
.overlayButton {
  color: $primary_color;
  background-color: transparent;
  border: 2px solid $secondary100_color;
  border-radius: 12px;
  font-size: 2em;
  padding: 7px 70px;
  &:hover {
    background-color: $primary200_color;
    color: $secondary100_color;
  }
}

/* -------------------------------------------------------
   🛠️ projectButton
   ------------------------------------------------------- */
.projectButton {
  background-color: $primary_color;
  color: $secondary100_color;
  border: 2px solid $fourth_color;
  border-radius: 25px;
  font-size: 1.2em;
  padding: 8px 40px;
  &:hover {
    background-color: $secondary100_color;
    color: $primary_color;
  }
}

/* -------------------------------------------------------
   🛠️ contactButton
   ------------------------------------------------------- */
.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  color: $primary_color;
  background-color: $primary200_color;
  border: 2px solid $fourth_color;
  border-radius: 50px;
  font-size: 1.6em;
  padding: 8px 20px;
  margin: 0 auto;
  &:hover {
    background-color: $secondary100_color;
    color: $primary200_color;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 1920px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1920px) {
  /* 🛠️ Bouton générique */
  .button {
    .button-icon {
      width: 2.604vw;
    }
  }

  /* 🛠️ accueilButton  */
  .accueilButton {
    gap: 0.781vw;
    border: 0.104vw solid $fourth_color;
    border-radius: 1.822vw;
    font-size: 1.333vw;
    padding: 0.26vw 1.302vw;
  }

  /* 🛠️ accueilButton */
  .websiteButton {
    gap: 0.781vw;
    border: 0.104vw solid $fourth_color;
    border-radius: 1.822vw;
    font-size: 1.333vw;
    padding: 0.26vw 1.302vw;
  }

  /* 🛠️ overlayButton */
  .overlayButton {
    border: 0.104vw solid $secondary100_color;
    border-radius: 0.625vw;
    font-size: 1.666vw;
    padding: 0.364vw 3.645vw;
  }

  /* 🛠️ projectButton */
  .projectButton {
    border: 0.104vw solid $fourth_color;
    border-radius: 1.302vw;
    font-size: 1vw;
    padding: 0.416vw 2.083vw;
  }

  /* 🛠️ contactButton */
  .contactButton {
    max-width: 15.625vw;
    border: 0.104vw solid $fourth_color;
    border-radius: 2.604vw;
    font-size: 1.333vw;
    padding: 0.416vw 1.041vw;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 1600px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1600px) {
  /* 🛠️ Bouton générique */
  .button {
    .button-icon {
      width: 41.664px;
    }
  }

  /* 🛠️ accueilButton  */
  .accueilButton {
    gap: 12.5px;
    border: 1.67px solid $fourth_color;
    border-radius: 29.16px;
    font-size: 21.33px;
    padding: 4.16px 20.83px;
  }

  /* 🛠️ accueilButton */
  .websiteButton {
    gap: 12.5px;
    border: 1.67px solid $fourth_color;
    border-radius: 29.16px;
    font-size: 21.33px;
    padding: 4.16px 20.83px;
  }

  /* 🛠️ overlayButton */
  .overlayButton {
    border: 1.67px solid $secondary100_color;
    border-radius: 10px;
    font-size: 26.66px;
    padding: 5.82px 58.32px;
  }

  /* 🛠️ projectButton */
  .projectButton {
    border: 1.67px solid $fourth_color;
    border-radius: 1.302vw;
    font-size: 1vw;
    padding: 0.416vw 2.083vw;
  }

  /* 🛠️ contactButton */
  .contactButton {
    max-width: 250px;
    border: 1.67px solid $fourth_color;
    border-radius: 41.66px;
    font-size: 21.33px;
    padding: 6.66px 16.66px;
  }
}
