/*╔═════════════════════════════════════════════════════╗
   🖥️ ==> FOOTER                                 
  ╚═════════════════════════════════════════════════════╝ */
@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.footer {
  width: 100%;
  height: 120px;
  background-color: $primary_color;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  transition: padding 300ms ease-out, height 300ms ease-out;

  &_content {
    width: 100%;
    max-width: 1600px;
    height: inherit;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: flex-direction 300ms ease-out, gap 300ms ease-out;

    &_copyright {
      @include poppins;
      color: $secondary100_color;
      font-size: 1.05em;
      padding-right: 20px;
      .mentions_link {
        @include poppins;
        text-decoration: none;
        color: $fourth_color;
        font-size: 1.075em;
        transition: color 300ms ease;
        &:hover {
          color: $secondary100_color;
        }
      }
    }
    &_boxIcon {
      display: flex;
      align-items: center;
      gap: 15px;

      &_icon {
        @include transition350;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary100_color;
        background-color: transparent;
        border: 2px solid $fourth_color;
        border-radius: 50%;
        padding: 12px;

        &:hover {
          background: $secondary100_color;
          color: $primary_color;
        }
      }
    }
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 1920px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1920px) {
  .footer {
    height: 6.25vw;

    &_content {
      max-width: 83.333vw;
      padding: 0 1.041vw;

      &_copyright {
        font-size: 0.875vw;
        padding-right: 1.041vw;
        .mentions_link {
          font-size: 0.895vw;
        }
      }
      &_boxIcon {
        gap: 0.781vw;

        &_icon {
          border: 0.104vw solid $fourth_color;
          padding: 0.625vw;
        }
      }
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 1600px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 1600px) {
  .footer {
    height: 100px;

    &_content {
      max-width: 1333.32px;
      padding: 0 16.65px;

      &_copyright {
        font-size: 14px;
        padding-right: 16.65px;
        .mentions_link {
          font-size: 14.32px;
        }
      }
      &_boxIcon {
        gap: 12.49px;

        &_icon {
          border: 1.67px solid $fourth_color;
          padding: 10px;
        }
      }
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 ===> 🖥️ MEDIA QUERY : Max-width 768px
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 768px) {
  .footer {
    padding: 20px;
    height: auto;

    &_content {
      flex-direction: column-reverse;
      padding: 0px;
      gap: 10px;
    }
  }
}
